@font-face {
    font-family:cool-fonts;
    src: url(./resources/fonts/Norse-Bold.otf) format('otf');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body{
    padding-bottom: 60px;
}

.wrapper-container{
    height: 100%;
    display: flex;
    /* align-items: stretch; */
}

.image-container{
    position: relative;
}

img{
    height: 100vh;
    max-width: 50vw;
}

.image-text{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: small;
}

.image-text span{
    text-decoration: underline;
}

a{
    color: #6b159c;
}

.logo-image{
    padding-left: 50px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 13vh;
    width: 100%;
    max-width: 100%;
    border: 1px solid;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.35);
}

.logo-image img{
    width: auto;
    height: 80%;
    opacity: 0.8;
    filter: blur(0.5px);
    border-radius: 10px;
    box-shadow: 0 3px 15px #f80bec;
}

.logo-image img:hover{
    opacity: 1;
    filter: blur(0px);
}

.logo-image p{
    padding-left: 30px;
    font-family: cool-fonts;
    font-size: 2.5rem;
    text-align: center;
    background: linear-gradient(45deg, #880808, #1a38e4);
    background-clip: text;
    color: transparent;
}

.sign-up-form{
    height: 100vh;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.sign-up-form::-webkit-scrollbar {
    display: none;
  }

/* .heading_text, */
form{
    flex: 1;
}

.heading_text{
    padding: 121px 100px 80px 55px;
    font-weight: bolder;
    font-size: 20px;
    background: linear-gradient(to right, hwb(197 60% 8%), hwb(37 79% 14%));
}

.heading_text> :first-child{
   padding-bottom: 30px;
}
/* 
.heading_text> :first-child p{
    min-width: 300px;
} */

.form{
    padding-bottom: 25px;
    background-color: #ebe6e1;
    padding-left: 55px;
    box-shadow: 0px 0px 3px #000000;
   
}

.form> :first-child p{
    display: block;
    padding: 15px 0 20px 0px;
    font-weight: bolder;
    font-size: 20px;
}

.form-input{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    background-color: #ebe6e1;
    height: 140px;
   
}

.input-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#last-name,
#first-name,
#email,
#password,
#phone-number,
#confirm-password{
    display: block;
}

input,
button{
    font-family: inherit;
    background-color: #fff;
    border: 1px solid #000;
    width: 185px;
    padding: 0;
    margin: 0;
    appearance: none;

}

.input-name,
.input-contact{
    font-weight: 400;
}

button{
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 55px;
    border-radius: 4px;
    width: 120px;
    height: 25px;
    background-color: #74006e;
    color: whitesmoke;
    box-shadow: 0px 2px 2px #474646;
    cursor: pointer;
    transition: transform 0.2sec ease;
}

button:hover{
    background-color: #044e00;
}

button:active{
    transform: scale(0.9);
}

.sign-up-form> :last-child{
    background-color: #dfdfdf;
}

button + p {
    margin-left: 55px;
    font-weight: 550;
    font-size: 14px;
}
label{
    font-family: inherit;
    font-size: small;
    font-weight: 500;
}

.touch-up{
    color: green;
}